# Dependencies
node_modules
.yarn/install-state.gz
.yarn/cache/@next-swc-darwin-arm64-npm-14.2.3-a4a36e8f73-10c0.zip

# Build outputs
/dist
/build
/out
/.next/
/out/
/tmp
/out-tsc

# IDEs and editors
/.idea
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Logs and debugging
npm-debug.log
yarn-error.log
testem.log
apps/**/log/**

# Environment and config files
.env*
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# NX specific
/.nx/cache
/.nx/workspace-data
/.nx-cache

# Misc
.DS_Store
Thumbs.db
.vercel
/.sass-cache
/connect.lock
/libpeerconnection.log
/typings
/src/log/*

# Next.js
apps/**/.next
out