extends ../layout
block content
  .logo-div
    a(href='/' data-nav="true")
      img.logo-image(src='/public/image/logo.png')
  .main-title
    h2 smPark OAuth2.0 Server

  .main-button
    .loginForm
      a.btn.btn-default(href='/login' data-nav="true") 로그인
    .regForm
      a.btn.btn-default(href='/register' data-nav="true") 회원가입


  block contents